<!DOCTYPE html><html xml:lang="en" xmlns="https://www.w3.org/1999/xhtml"><head>
<meta content="text/html;charset=UTF-8" http-equiv="content-type">
<title></title>
<meta content="" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../assets/application.css" media="screen" rel="stylesheet" type="text/css">
<link href="../../assets/typography.css" media="print" rel="stylesheet" type="text/css">
<link href="../../stylesheets/print-www.css" media="print" rel="stylesheet" type="text/css">
<!--[if IE 6]>
<link href="../../stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../../stylesheets/navigation-userguide-ie6.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
<link href="../../stylesheets/navigation-userguide-ie6.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE]>
<link href="../../stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="../../assets/prettify.css" media="screen" rel="stylesheet" type="text/css">
<script>
  var activeNav = 0;
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-175340-14']);
  _gaq.push(['_trackPageview']);
</script>
</head>
<body class="acknowledgements" id="acknowledgements-03-mail-merge-fields" onload="prettyPrint()">
<div id="page">
<div id="page-menu">
<div class="container">
<div class="span-24 last" id="heading">
<h1 id="logo"><a href="https://www.donortools.com/">Donor Tools</a></h1>
<h2 class="noscreen">Mail Merge Fields - Donor Tools User Guide</h2>

<div id="site_navigation">
<ul>
<!-- navigation_item "Home", "/", :selected_when => "", :id => "homepage", :no_span => true -->
<!-- navigation_item "Features", "/features", :selected_when => "features" -->
<!-- navigation_item "Pricing &amp; Signup", "/pricing", :selected_when => "pricing", :id => "navigation_pricing_signup" -->
<!-- navigation_item "User Guide", "/userguide", {:selected_when => "userguide"} -->
<!-- navigation_item "About Us", "/about-us", :selected_when => "about-us" -->
<!-- = navigation_item "Blog", "https://blog.donortools.com", :selected_when => "blog" -->
<li id="navigation_sign_in"><a href="https://my.donortools.com/users/sign_in"><span>Sign In</span></a></li>
</ul>
</div>
<div class="landing-page-link" style="display:none"></div>
<!-- = render :partial => "layouts/donor_tools_for_good" -->
</div>

<div class="span-24 last" id="main">
<div class="span-5 append-1">
<div class="lefthand-nav noprint">
<ul id="userguide-nav">
<li class="category-group">
<a class="category" href="../../quick-start/">Quick Start</a>
<ul class="category-links">
<li>
<a href="../../quick-start/01-welcome-video/">Welcome Video</a>
</li>
<li>
<a href="../../quick-start/02-signing-in/">Signing In</a>
</li>
<li>
<a href="../../quick-start/public-profile/">Public Profile</a>
</li>
<li>
<a href="../../quick-start/set-your-fiscal-year/">Set Your Fiscal Year</a>
</li>
<li>
<a href="../../quick-start/setting-up-paypal/">Setting Up PayPal</a>
</li>
<li>
<a href="../../quick-start/system-requirements/">System Requirements</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../importing-data/">Importing Data</a>
<ul class="category-links">
<li>
<a href="../../importing-data/01-introduction-to-importing/">Introduction To Importing</a>
</li>
<li>
<a href="../../importing-data/02-uploading-your-file/">Uploading Your File</a>
</li>
<li>
<a href="../../importing-data/03-importing-donors/">Importing Donors</a>
</li>
<li>
<a href="../../importing-data/04-importing-donations/">Importing Donations</a>
</li>
<li>
<a href="../../importing-data/05-importing-a-mixed-file/">Importing A Mixed File</a>
</li>
<li>
<a href="../../importing-data/06-data-quality/">Data Quality</a>
</li>
<li>
<a href="../../importing-data/07-supported-fields/">Supported Fields</a>
</li>
<li>
<a href="../../importing-data/08-undoing-an-import/">Undoing An Import</a>
</li>
<li>
<a href="../../importing-data/08-updating-existing-records/">Updating Existing Records</a>
</li>
<li>
<a href="../../importing-data/09-data-tips/">Data Tips</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../data-management/">Data Management</a>
<ul class="category-links">
<li>
<a href="../../data-management/01-creating-a-donor/">Creating A Donor</a>
</li>
<li>
<a href="../../data-management/02-recording-a-donation/">Recording A Donation</a>
</li>
<li>
<a href="../../data-management/03-editing-a-donation/">Editing A Donation</a>
</li>
<li>
<a href="../../data-management/03-editing-a-donor/">Editing A Donor</a>
</li>
<li>
<a href="../../data-management/04-merging-two-donors/">Merging Two Donors</a>
</li>
<li>
<a href="../../data-management/05-funds/">Funds</a>
</li>
<li>
<a href="../../data-management/05-sources/">Sources</a>
</li>
<li>
<a href="../../data-management/06-important-dates/">Important Dates</a>
</li>
<li>
<a href="../../data-management/09-soft-crediting-a-donation/">Soft Crediting A Donation</a>
</li>
<li>
<a href="../../data-management/10-relationships/">Relationships</a>
</li>
<li>
<a href="../../data-management/12-users/">Users</a>
</li>
<li>
<a href="../../data-management/custom-data-types/">Custom Data Types</a>
</li>
<li>
<a href="../../data-management/find-duplicates/">Find Duplicates</a>
</li>
<li>
<a href="../../data-management/pledges-and-pledge-payments/">Pledges And Pledge Payments</a>
</li>
<li>
<a href="../../data-management/recording-a-note/">Recording A Note</a>
</li>
<li>
<a href="../../data-management/tag-many-donors-at-once/">Tag Many Donors At Once</a>
</li>
<li>
<a href="../../data-management/tagging-donors/">Tagging Donors</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../reporting/">Reporting</a>
<ul class="category-links">
<li>
<a href="../../reporting/donations-report/">Donations Report</a>
</li>
<li>
<a href="../../reporting/exporting-donations/">Exporting Donations</a>
</li>
<li>
<a href="../../reporting/exporting-donors/">Exporting Donors</a>
</li>
<li>
<a href="../../reporting/generate-a-tax-receipt/">Generate A Tax Receipt</a>
</li>
<li>
<a href="../../reporting/print-a-report/">Print A Report</a>
</li>
<li>
<a href="../../reporting/smart-tag--donors-in-year/">Smart Tag: Donors In Year</a>
</li>
<li>
<a href="../../reporting/smart-tag--filter-by-state/">Smart Tag: Filter By State</a>
</li>
<li>
<a href="../../reporting/smart-tag--new-donors/">Smart Tag: New Donors</a>
</li>
<li>
<a href="../../reporting/smart-tags/">Smart Tags</a>
</li>
<li>
<a href="../../reporting/year-end-reports/">Year End Reports</a>
</li>
</ul>
</li>
<script>
  var activeNav = 4;
</script>
<li class="active category-group">
<a class="category" href="../">Acknowledgements</a>
<ul class="category-links">
<li>
<a href="../01-thank-you-emails/">Thank You Emails</a>
</li>
<li>
<a href="../02-thank-you-letters/">Thank You Letters</a>
</li>
<li class="active">
<a href="">Mail Merge Fields</a>
</li>
<li>
<a href="../letterhead/">Letterhead</a>
</li>
<li>
<a href="../year-end-statement--email/">Year End Statement: Email</a>
</li>
<li>
<a href="../year-end-statement--print/">Year End Statement: Print</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../fundraising/">Fundraising</a>
<ul class="category-links">
<li>
<a href="../../fundraising/creating-fund-pages/">Creating Fund Pages</a>
</li>
<li>
<a href="../../fundraising/customizing-fund-pages/">Customizing Fund Pages</a>
</li>
<li>
<a href="../../fundraising/fundraising-event/">Fundraising Event</a>
</li>
<li>
<a href="../../fundraising/online-donation-widget/">Online Donation Widget</a>
</li>
<li>
<a href="../../fundraising/paypal--recurring-donations/">Paypal: Recurring Donations</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../tips-and-tricks/">Tips And Tricks</a>
<ul class="category-links">
<li>
<a href="../../tips-and-tricks/anonymous-donors/">Anonymous Donors</a>
</li>
<li>
<a href="../../tips-and-tricks/bulk-mailings/">Bulk Mailings</a>
</li>
<li>
<a href="../../tips-and-tricks/in-kind-donations/">In Kind Donations</a>
</li>
<li>
<a href="../../tips-and-tricks/print-labels---envelopes/">Print Labels &amp; Envelopes</a>
</li>
<li>
<a href="../../tips-and-tricks/volunteer-hours/">Volunteer Hours</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../integrations/">Integrations</a>
<ul class="category-links">
<li>
<a href="../../integrations/mailchimp/">MailChimp</a>
</li>
<li>
<a href="../../integrations/paypal/">PayPal</a>
</li>
<li>
<a href="../../integrations/quickbooks-export/">Quickbooks Export</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../donor-self-service/signup-as-a-donor/">Donor Self Service</a>
<ul class="category-links">
<li>
<a href="../../donor-self-service/signup-as-a-donor/">Signup As A Donor</a>
</li>
</ul>
</li>
<li class="category-group">
<a class="category" href="../../api/">API</a>
<ul class="category-links">
<li>
<a href="../../api/01-overview/">Overview</a>
</li>
<li>
<a href="../../api/02-pagination/">Pagination</a>
</li>
<li>
<a href="../../api/03-funds/">Funds</a>
</li>
<li>
<a href="../../api/04-sources/">Sources</a>
</li>
<li>
<a href="../../api/05-people/">People</a>
</li>
<li>
<a href="../../api/donations/">Donations</a>
</li>
<li>
<a href="../../api/emails/">Emails</a>
</li>
<li>
<a href="../../api/organization/">Organization</a>
</li>
<li>
<a href="../../api/soft-credits/">Soft Credits</a>
</li>
<li>
<a href="../../api/types/">Types</a>
</li>
</ul>
</li>
</ul>
</div>

</div>
<div class="span-17 append-1 last">
<article><h1>Mail Merge Fields</h1>
<p>
Donor Tools uses the Liquid markup language to insert actual values into letters and emails.&nbsp;
</p>
<p>
Liquid works primarily by replacing variables surrounded by double-brackets like this:
<br><code>{{ a_variable }}</code>. A comprehensive overview of Liquid is available at&nbsp;
<a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers">
  https://github.com/Shopify/liquid/wiki/Liquid-for-Designers
</a>
</p>
<p>
The following mail merge fields are available in Donor Tools.&nbsp;
</p>
<h2>
Donor
</h2>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tbody>
<tr>
<th width="50%">
Field
</th>
<th>
Description
</th>
</tr>
</tbody>
<tbody>
<tr>
<td>
<tt>{{donor.name}}</tt>
</td>
<td>
Joe Donor
</td>
</tr>
<tr>
<td>
<tt>{{donor.first_name}}</tt>
</td>
<td>
Joe
</td>
</tr>
<tr>
<td>
<tt>{{donor.last_name}}</tt>
</td>
<td>
Donor
</td>
</tr>
<tr>
<td>
<tt>{{donor.company_name}}</tt>
</td>
<td>
Megacorp, Inc.
</td>
</tr>
<tr>
<td>
<tt>{{donor.address}}</tt>
</td>
<td>
1234 5th St
Wallawalla, WA 55555
</td>
</tr>
<tr>
<td>
<tt>{{donor.street_address}}</tt>
</td>
<td>
1234 5th St
</td>
</tr>
<tr>
<td>
<tt>{{donor.city}}</tt>
</td>
<td>
Wallawalla
</td>
</tr>
<tr>
<td>
<tt>{{donor.state}}</tt>
</td>
<td>
WA
</td>
</tr>
<tr>
<td>
<tt>{{donor.postal_code}}</tt>
</td>
<td>
55555
</td>
</tr>
<tr>
<td>
<tt>{{donor.salutation}}</tt>
</td>
<td>
Joe
<br>
<small>If you have not filled in a value for this field, Donor Tools will automatically use the first name.</small>
</td>
</tr>
<tr>
<td>
<tt>{{donor.salutation_formal}}</tt>
</td>
<td>
Mr. Donor
<br>
<small>If you have not filled in a value for this field, Donor Tools will automatically use the prefix followed by the last name. Or if there is no prefix Donor Tools will just use the first name.</small>
</td>
</tr>
<tr>
<td>
<tt>{{donor.recognition_name}}</tt>
</td>
<td>
Joe, Janet, and Joey Donor
<br>
<small>If you have not filled in a value for this field, Donor Tools will automatically try to generate a recognition name for you.</small>
</td>
</tr>
<tr>
<td>
<tt>{{donor.first_names}}</tt>
</td>
<td>Joe, Janet, and Joey</td>
</tr>
<tr>
<td>
<tt>{{donor.total_donations}}</tt>
</td>
<td>
$2,500.00
</td>
</tr>
<tr>
<td>
<tt>{{donor.total_donations_this_year}}</tt>
</td>
<td>$1,000.00</td>
</tr>
<tr>
<td>
<tt>{{donor.total_donations_last_year}}</tt>
</td>
<td>$1,000.00</td>
</tr>
<tr>
<td>
<tt>{{donor.total_donations_this_month}}</tt>
</td>
<td>$100.00</td>
</tr>
<tr>
<td>
<tt>{{donor.total_donations_last_month}}</tt>
</td>
<td>$100.00</td>
</tr>
<tr>
<td>
<tt>{{donor.total_deductible_donations_this_year}}</tt>
</td>
<td>$600.00</td>
</tr>
<tr>
<td>
<tt>{{donor.total_deductible_donations_last_year}}</tt>
</td>
<td>$1,000.00</td>
</tr>
<tr>
<td>
<tt>{{donor.donations_count}}</tt>
</td>
<td>
The number of donations by a donor
</td>
</tr>
<tr>
<td>
<tt>{{donor.donations_this_year_count}}</tt>
</td>
<td>
The number of donations by a donor this year
</td>
</tr>
<tr>
<td>
<tt>{{donor.donations_last_year_count}}</tt>
</td>
<td>
The number of donations by a donor last year
</td>
</tr>
<tr>
<td>
<tt>{% donor.donations %}</tt>
</td>
<td>
An array of the donor's donations
</td>
</tr>
<tr>
<td>
<tt>{% donor.donations_this_year %}</tt>
</td>
<td>
An array of the donor's donations from this year
</td>
</tr>
<tr>
<td>
<tt>{% donor.deductible_donations_this_year %}</tt>
</td>
<td>
An array of the donor's deductible donations from this year
</td>
</tr>
<tr>
<td>
<tt>{% donor.deductible_donations_last_year %}</tt>
</td>
<td>
An array of the donor's donations from last year
</td>
</tr>
<tr>
<td>
<tt>{% donor.donations_last_year %}</tt>
</td>
<td>
An array of the donor's donations from last year
</td>
</tr>
<tr>
<td>
<tt>{% donor.donations_this_​fiscal_year %}</tt>
</td>
<td>
An array of the donor's donations from this fiscal year
</td>
</tr>
<tr>
<td>
<tt>{% donor.donations_last_fiscal_year %}</tt>
</td>
<td>
An array of the donor's donations from last fiscal year
</td>
</tr>
<!--  -->
<tr>
<td>
<tt>{% donor.donations_this_month %}</tt>
</td>
<td>
An array of the donor's donations from this month
</td>
</tr>
<!--  -->
<tr>
<td>
<tt>{% donor.donations_last_month %}</tt>
</td>
<td>
An array of the donor's donations from last month
</td>
</tr>
<!--  -->
<tr>
<td>
<tt>{% donor.donations_this_week %}</tt>
</td>
<td>
An array of the donor's donations from this week
</td>
</tr>
<!--  -->
<tr>
<td>
<tt>{% donor.donations_last_week %}</tt>
</td>
<td>
An array of the donor's donations from last week
</td>
</tr>
<!--  -->
<tr>
<td>
<tt>{% donor.total_soft_credits %}</tt>
</td>
<td>
Total dollar amount of the soft credits attributed to this donor.
</td>
</tr>
<!--  -->
<tr>
<td>
<tt>{% donor.total_soft_credits_this_year %}</tt>
</td>
<td>
Total dollar amount of the soft credits attributed to this donor this year.
</td>
</tr>
<!--  -->
<tr>
<td>
<tt>{% donor.total_soft_credits_last_year %}</tt>
</td>
<td>
Total dollar amount of the soft credits attributed to this donor last year.
</td>
</tr>
<!--  -->
</tbody>
</table>
<h2>
Donation
</h2>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tbody>
<tr>
<th width="50%">
Field
</th>
<th>
Description
</th>
</tr>
</tbody>
<tbody>
<tr>
<td>
<tt>{{donation.id}}</tt>
</td>
<td>
The unique identifier for a donation.
</td>
</tr>
<tr>
<td>
<tt>{{donation.describe}}</tt>
</td>
<td>
$123.00 for Elementary Schools received on Jun 8, 2009
</td>
</tr>
<tr>
<td>
<tt>{{donation.amount}}</tt>
</td>
<td>
50.00
</td>
</tr>
<tr>
<td>
<tt>{{donation.formatted_amount}}</tt>
</td>
<td>
$50.00
</td>
</tr>
<tr>
<td>
<tt>{{donation.deductible_amount}}</tt>
</td>
<td>
$40.00
</td>
</tr>
<tr>
<td>
<tt>{{donation.non_deductible_amount}}</tt>
</td>
<td>
$10.00
</td>
</tr>
<tr>
<td>
<tt>{{donation.fund}}</tt>
</td>
<td>
Elementary Schools
</td>
</tr>
<tr>
<td>
<tt>
{{donation.funds | join: " and "}}
</tt>
</td>
<td>
Elementary Schools and Poverty Relief
</td>
</tr>
<tr>
<td>
<tt>{{donation.received_on}}</tt>
</td>
<td>
Feb 26, 2009
</td>
</tr>
<tr>
<td>
<tt>{{donation.received_on_long}}</tt>
</td>
<td>
February 26, 2009
</td>
</tr>
<tr>
<td>
<tt>{{donation.received_on_short}}</tt>
</td>
<td>
02/26/09
</td>
</tr>
<tr>
<td>
<tt>{{donation.check_number}}</tt>
</td>
<td>
1234
</td>
</tr>
<tr>
<td>
<tt>{{donation.check_date}}</tt>
</td>
<td>
Feb 26, 2009
</td>
</tr>
<tr>
<td>
<tt>{{donation.check_date_long}}</tt>
</td>
<td>
February 26, 2009
</td>
</tr>
<tr>
<td>
<tt>{{donation.check_date_short}}</tt>
</td>
<td>
02/26/09
</td>
</tr>
<tr>
<td>
<tt>{{donation.soft_credits}}</tt>
</td>
<td>
Fred Frederickson (Fundraiser)
</td>
</tr>
<tr>
<td>
<tt>{{donation.soft_credits_names}}</tt>
</td>
<td>
Fred Frederickson
</td>
</tr>
<tr>
<td>
<tt>{{donation.memo}}</tt>
</td>
<td>
The main memo line from the donation
</td>
</tr>
<tr>
<td>
<tt>{{donation.split_memos}}</tt>
</td>
<td>
The split memo lines from the donation, joined together with a semicolon (;)
</td>
</tr>
<tr>
<td>
<tt>{{donation.all_memos}}</tt>
</td>
<td>
The main memo and the split memo lines from the donation, joined together with a semicolon (;)
</td>
</tr>
</tbody>
</table>
<h2>Pledge</h2>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tbody>
<tr>
<th width="30%">
Field
</th>
<th>
Description
</th>
</tr>
</tbody>
<tbody>
<tr>
<td>
<tt>{% donor.pledges %}</tt>
</td>
<td>
An array of all this person's
<a href="../../data-management/pledges-and-pledge-payments/">pledges</a>
<div>
<strong>Example:</strong>
</div>
<pre><code>{% for pledge in donor.pledges %}
pledged amount: {{pledge.amount}};
outstanding:    {{pledge.outstanding_amount}};
paid:           {{pledge.received_amount}}
{% endfor %}</code></pre>
</td>
</tr>
<tr>
<td>
<tt>{%donor.outstanding_pledges%}</tt>
</td>
<td>
Same as above, but only lists outstanding pledges (excluding pledges that are paid in full).
</td>
</tr>
<tr>
<td>
<tt>{{donor.pledge.amount}}</tt>
</td>
<td>
The amount of the donor's most recent pledge.
</td>
</tr>
<tr>
<td>
<tt>{{donor.pledge.date}}</tt>
</td><td>
The date of the donor's most recent pledge.
<br>
<strong>Example:</strong>
Feb 26, 2009
</td>

</tr>
<tr>
<td>
<tt>{{donor.pledge.date_long}}</tt>
</td>
<td>
The date of the donor's most recent pledge in long form.
<br>
<strong>Example:</strong>
February 26, 2009
</td>
</tr>
<tr>
<td>
<tt>{{donor.pledge.date_short}}</tt>
</td>
<td>
The date of the donor's most recent pledge in short form.
<br>
<strong>Example:</strong>
02/26/09
</td>
</tr>
<tr>
<td>
<tt>
{{donor.pledge.received_amount}}
{{donor.pledge.paid_amount}}
</tt>
</td>
<td>
The amount that has been received of the donor's most recent pledge.
</td>
</tr>
<tr>
<td>
<tt>{{donor.pledge.installment_amount}}</tt>
</td>
<td>
The installment amount of the donor's most recent pledge.
</td>
</tr>
<tr>
<td>
<tt>{{donor.pledge.outstanding_amount}}</tt>
</td>
<td>
The outstanding amount of the donor's most recent pledge.
</td>
</tr>
<tr>
<td>
<tt>{{donor.pledge.next_amount}}</tt>
</td>
<td>
The next payment amount for the donor's most recent pledge.
</td>
</tr>
<tr>
<td>
<tt>{{donor.pledge.next_payment_on}}</tt>
</td>
<td>
The date that donor's most recent pledge should be due.
</td>
</tr>
<tr>
<td>
<tt>{% donor.pledge.donations %}</tt>
</td>
<td>
An array of all the donations paid to this pledge
<a href="../../data-management/pledges-and-pledge-payments/">pledges</a>
<div>
<strong>Example:</strong>
</div>
<pre><code>{% for donation in donor.pledge.donations %}
{{donation.describe}} {% endfor %}

</code></pre>
</td>
</tr>
</tbody>
</table>
<h2>
Soft Credit
</h2>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tbody>
<tr>
<th width="30%">
Field
</th>
<th>
Description
</th>
</tr>
</tbody>
<tbody>
<tr>
<td>
<tt>{% donor.soft_credits %}</tt>
</td>
<td>
An array of this person's
<a href="../../data-management/09-soft-crediting-a-donation/">soft credits</a>
<div>
<strong>Example:</strong>
</div>
<pre><code>{% for donation in donor.soft_credits %}
  {{donation.amount}} from
  {{donation.donor.name}}
  on {{donation.received_on_long}}
{% endfor %}
</code></pre>
</td>
</tr>
</tbody>
</table>
<h2>Letter/Email Fields</h2>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tbody>
<tr>
<th width="50%">
Field
</th>
<th>
Description
</th>
</tr>
</tbody>
<tbody>
<tr>
<td>
<tt>{{current_date}}</tt>
</td>
<td>Today's date (e.g. April 10, 2010)</td>
</tr>
<tr>
<td>
<tt>{{current_time}}</tt>
</td>
<td>The current time (e.g. 06:12 PM)</td>
</tr>
<tr>
<td>
<tt>{{letter_date}}</tt>
</td>
<td>
The date that the letter was created (e.g.
Dec  9, 2022
)
</td>
</tr>
<tr>
<td>
<tt>{{letter_time}}</tt>
</td>
<td>The time that the letter was created (e.g. 06:12 PM)</td>
</tr>
</tbody>
</table>
<h2>Other Fields</h2>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tbody>
<tr>
<th width="50%">
Field
</th>
<th>
Description
</th>
</tr>
</tbody>
<tbody>
<tr>
<td>
<tt>{{user.first_name}}</tt>
</td>
<td>
The first name of the currently signed in user
</td>
</tr>
<tr>
<td>
<tt>{{user.last_name}}</tt>
</td>
<td>
The last name of the currently signed in user
</td>
</tr>
<tr>
<td>
<tt>{{user.email_address}}</tt>
</td>
<td>
The email address of the currently signed in user
</td>
</tr>
<tr>
<td>
<tt>{{user.title}}</tt>
</td>
<td>
The title of the currently signed in user
</td>
</tr>
<tr>
<td>
<tt>{{organization.name}}</tt>
</td>
<td>
This organization's name
</td>
</tr>
</tbody>
</table>
<p>
&nbsp;
</p>
<h2>
Liquid Syntax
</h2>
<p>
The {{donation.split}} object is an array of the splits for this donation. You can loop over this array or apply
<a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#advanced-output-filters">
liquid filters
</a>
.&nbsp;
</p>
<h4>
Conditional Statements
</h4>
<pre><code>Thanks for your
{% if donor.donations_count &gt; 2 %} ongoing
{% elsif donor.donations_count &gt;= 1 %} renewed
{% else %} generous {%endif%}
contribution of {{donation.describe}}.
</code></pre>
<h4>
Looping over splits in a donation:&nbsp;
</h4>
<pre><code>{% for split in donation.splits %}
{{split.formatted_amount}} for {{split.fund}}
{% endfor %}</code></pre>
<h4>
Looping over all a donor's donations:
</h4>
<pre><code>{% for donation in donor.donations %}
{{donation.describe}} {% endfor %}</code></pre>
<h4>
Looping over all a donor's donations, but only if there is more than one:
</h4>
<pre><code>{% if donor.donations.size &gt; 1 %}
Here's a list of all your donations so far: {% for donation in donor.donations %}
{{donation.describe}} {% endfor %}{% endif %}</code></pre>
<h4>
Looping over all a donor's donations from this fiscal year:
</h4>
<pre><code>{% for donation in donor.donations_this_fiscal_year %}
{{donation.describe}} {% endfor %}</code></pre>
<h4>
Join funds with comma:
</h4>
<pre><code>{{donation.funds | join: ", "}}</code></pre>
</article>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript" src="../..//s7.addthis.com/js/300/addthis_widget.js#pubid=donortools"></script>
    <!-- AddThis Button END -->

</div>
</div>
<div class="clear"></div>
</div>
</div>
<div class="white" id="footer">
<div class="container">
<div class="span-12">
<p>
All text and images copyright © 2008-<span class="this_year">2022</span>&nbsp;Donor Tools. All rights reserved.
</p>
<p>
Donor Tools™ is a big idea by
<a href="https://www.higherpixels.com/">Higher Pixels, LLC.</a>
</p>
</div>
<div class="span-12 last noprint">
<p class="right">
<a href="../../about-us/privacy-policy.html">Privacy Policy</a>
<span class="grey">•</span>
<a href="../../about-us/terms-of-service.html">Terms of Service</a>
<span class="grey">•</span>
<a href="../../">
Contact Support
</a>
</p>
</div>
</div>
</div>

</div>
<script src="../../assets/prettify/prettify-fedb55666e1691ba5932eb966d83eaf8.js" type="text/javascript"></script>
<script src="../../assets/jquery.js" type="text/javascript"></script>
<script src="../../assets/jquery-ui.js" type="text/javascript"></script>
<script src="../../assets/jquery.jfeed.js" type="text/javascript"></script>
<script src="../../assets/jquery.cookie.js" type="text/javascript"></script>
<script src="../../assets/application.js" type="text/javascript"></script>


<script type="text/javascript" charset="utf-8">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>



</body></html>
